{% include "recipes/partials/head.html" %}
    <body>
        {% include "recipes/partials/header.html" %}
        {%include "recipes/partials/search.html"%}
        <main class="main-content-conteiner">
            <div class="main-content main-content-list container">
               <div class="recipe-list-item">
                    <div class="recipe-cover">
                        <img src="https://imageplaceholder.net/1280x720/269fe6" alt="temporario">
                    </div>
               </div>
            </div>
            
            
        </main>
    </div>    
   
    </body>
</html>